@page
@model LiquerStore.Web.Pages.Liquers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.ProductionArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.ProductionArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.AlcoholPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.AlcoholPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.Kind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Kind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.LabelPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.LabelPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Reserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Reserved)
        </dd>
    </dl>
</div>
<div>
    @if (Model.StorageModel.SoftDeleted == false)
    {
        <a class="btn btn-danger" asp-page="./Disable" asp-route-id="@Model.StorageModel.Id">Zet uit</a> |
    }
    else
    {
        <a class="btn btn-success" asp-page="./Enable" asp-route-id="@Model.StorageModel.Id">Zet aan</a> |
    }
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.StorageModel.Id">Pas aan</a> |
    <a class="btn btn-info" asp-page="./Index">Terug naar product lijst</a>
</div>
