@page
@model LiquerStore.Web.Pages.Liquers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WhiskyModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhiskyModel[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhiskyModel[0].ProductionArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhiskyModel[0].AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhiskyModel[0].Kind)
            </th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.WhiskyModel)),
                columns: [
                    { "data": "Name", "name": "@Html.DisplayNameFor(model => model.WhiskyModel[0].Name)" },
                    { "data": "Age", "name": "@Html.DisplayNameFor(model => model.WhiskyModel[0].Age)" },
                    { "data": "ProductionArea", "name": "@Html.DisplayNameFor(model => model.WhiskyModel[0].ProductionArea)" },
                    { "data": "AlcoholPercentage", "name": "@Html.DisplayNameFor(model => model.WhiskyModel[0].AlcoholPercentage)" },
                    { "data": "Kind", "name": "@Html.DisplayNameFor(model => model.WhiskyModel[0].Kind)" },
                ]
            });
        });
    </script>
}