@page
@using Newtonsoft.Json
@model LiquerStore.Web.Pages.Liquers.IndexModel

@{
    ViewData["Title"] = "Producten";
}

<h1>Producten</h1>

<p>
    <a asp-page="Create">Maak een whisky</a>
</p>
<br/>
<table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(w => w.StorageModels.First().Whisky.Name)
            </th>
            <th>
                @Html.DisplayNameFor(w => w.StorageModels.First().Whisky.Age)
            </th>
            <th>
                @Html.DisplayNameFor(w => w.StorageModels.First().Whisky.ProductionArea)
            </th>
            <th>
                @Html.DisplayNameFor(w => w.StorageModels.First().Whisky.AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(w => w.StorageModels.First().Whisky.Kind)
            </th>
            <th>
                @Html.DisplayNameFor(w => w.StorageModels.First().Available)
            </th>
            <th>
                Aanpassen
            </th>
            <th>
                Alle gegevens
            </th>
            <th>
                Actief
            </th>
            <th>
                Reserveren
            </th>
        </tr>
    </thead>
</table>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

    <script type="module">
        import { dataTable } from "/js/dataTables.js";
        dataTable(@Html.Raw(JsonConvert.SerializeObject(Model.StorageModels)));
    </script>
}