@page
@model LiquerStore.Web.Pages.Liquers.ReserveModel

@{
    ViewData["Title"] = "Reserve";
}

<h2>Reserveren?</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Reserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Reserved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.SoftDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.SoftDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StorageModel.Id">Edit</a> |
    <a asp-page="./Index">Terug naar product lijst</a>
</div>
