@page
@model LiquerStore.Web.Pages.Reserve.ReserveModel

@{
    ViewData["Title"] = "Reserve";
}

<h2>Reserveren?</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.ProductionArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.ProductionArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.AlcoholPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.AlcoholPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.Kind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.Kind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Whisky.LabelPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Whisky.LabelPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageModel.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageModel.Available)
        </dd>
    </dl>

    @if (Model.StorageModel.Available > 0)
    {
        <form method="post">
            <input type="hidden" asp-for="StorageModel.Id" />
            <input type="submit" value="Reserveren" class="btn btn-success" />
        </form>
    }
</div>
<div>
    <a asp-page="./Index">Terug naar product lijst</a>
</div>
